services:
  - type: web
    name: procom-cp-backend
    env: node
    plan: free
    rootDir: server
    buildCommand: npm install
    startCommand: npm start
    envVars:
      - key: PORT
        value: 4000
      - key: NODE_ENV
        value: production
      - key: KEY
        generateValue: true  # Render will generate a secret key
